<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>添加设备</title>
    <link rel="stylesheet" href="__PUBLIC__/css/jquery.mobile-1.4.5.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/css/jquery.mobile.theme-1.4.5.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/css/jquery.mobile.structure-1.4.5.min.css" />
    <script src="__PUBLIC__/js/jquery-1.11.3.min.js"></script>
    <script src="__PUBLIC__/js/jquery.mobile-1.4.5.min.js"></script>
    <script src="__PUBLIC__/js/jquery.validate.min.js"></script>
    <script src="__PUBLIC__/js/messages_zh.min.js"></script>
</head>
<body>
<div data-role="page" id="page">
    <div data-role="header">
        <h1>设备管理</h1>
    </div>
    <div data-role="content">
        <ul data-role="listview" data-inset="true">
            <li data-icon="delete" id="skull"><a href="#">sn:12341412</a></li>
            <li data-icon="delete" id="skull"><a href="#">sn:12341412</a></li>
            <li data-icon="delete" id="skull"><a href="#">sn:12341412</a></li>
            <li data-icon="delete" id="skull"><a href="#">sn:12341412</a></li>
        </ul>
        <Button  class="ui-btn" data-enhanced="true" data-role="button">扫一扫 添加设备</Button>
    </div>
</div>
</body>
</html>