<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>我要帮</title>
    <link rel="stylesheet" href="__PUBLIC__/css/jquery.mobile-1.4.5.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/css/jquery.mobile.theme-1.4.5.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/css/jquery.mobile.structure-1.4.5.min.css" />
    <script src="__PUBLIC__/js/jquery-1.11.3.min.js"></script>
    <script src="__PUBLIC__/js/jquery.mobile-1.4.5.min.js"></script>
    <script src="__PUBLIC__/js/jquery.validate.min.js"></script>
    <script src="__PUBLIC__/js/messages_zh.min.js"></script>
</head>
<body>

        <label for="input_name">姓名:</label>
        <input name="input_name" id="input_name" value="" type="text">
        <label for="input_tel">电话:</label>
        <input name="input_tel" pattern="[0-9]*" id="input_tel" value="" type="number">
        <label for="date_start">开始时间</label>
        <input name="date_start" pattern="[0-9]*" id="date_start" value="" type="number">
        <label for="date_end">结束时间</label>
        <input name="date_end" pattern="[0-9]*" id="date_end" value="" type="number">
</body>
</html>